<!--Here you can view a squads details and it's members and add heroes to the squad-->
<!--Get clicked squaa details and form and Fill in the page according to the squaas details.-->
{{#partial "title"}}
<!--{SquaName}-->
{{/partial}}

{{#partial "content"}}
    <div class="card">
        <h1 class="block">MasterSquad</h1>
        <hr>
        <p>  Cause   |    max of 50 members   </p>
    </div>
    <div class="container">
        {{#if heroes}}
            {{#each heroes}}
            <div class="well">
                Name: {{alias}}
                Age:{{age}}
                Special Power: {{power}}
                <small>Weakness: {{kryptonite}} </small>
                <hr>
            </div>
            {{/each}}
        {{else}}
            <h3>No heroes in this squad</h3>
            <a href="/create_hero">Add some here</a>
        {{/if}}
    </div>
{{/partial}}
{{> layout.hbs }}