<!--Here you can view a squads details and it's members and add heroes to the squad-->
<!--Get clicked squaa details and form and Fill in the page according to the squaas details.-->
{{#partial "title"}}
<!--{SquaName}-->
{{/partial}}

{{#partial "content"}}
    <div class="card">
        <h1 class="block">MasterSquad</h1>
        <hr>
        <p>  Cause   |    max of 50 members   </p>
    </div>
    <div class="container">
        {{#if heroes}}
            {{#each heroes}}
            <div class="well">
                Name: {{alias}}
                Age:{{age}}
                Special Power: {{power}}
                <small>Weakness: {{kryptonite}} </small>
                <hr>
            </div>
            {{/each}}
        {{else}}
            <h3>No heroes in this squad</h3>
        {{/if}}
    </div>
{{/partial}}
{{#partial "content"}}

    <h1>Create a hero!</h1>
    <form action="/view_squad/new" method="POST">
        <label for="alias">Alias</label>
        <input id="alias" name="alias" type="text">

        <label for="age">Age</label>
        <input id="age" name="age" type="number">

        <label for="power">Power</label>
        <input id="power" name="power" type="text">

        <label for="kryptonite">Weakness</label>
        <input id="kryptonite" name="kryptonite" type="text">

        <button type="submit" class="btn btn-default">Add Hero</button>
    </form>
{{/partial}}
{{> layout.hbs }}