{{#if heroes}}
    {{#each heroes}}
        <div class="well">
            Name: {{alias}}
            Age:{{age}}
            Special Power: {{power}}
            <small>Weakness: {{kryptonite}} </small>
            <hr>
        </div>
    {{/each}}
{{else}}
    No heroes in this squad yet... add some to help you achieve your cause.
{{/if}}

{{#if squads}}
    {{#each}}
        <div class="list-group-item" border border-{{teamcolor}}>
            <div class="d-flex flex-row">
                <img src="" class="p-2"/>
                <p class="p-2">{{name}}</p>
                <a href="/view_squad/{{id}}"><button class="p-2 btn bg-{{teamcolor}}">View Squad</button></a>
            </div>
        </div>
    {{/each}}
{{else}}
    <p>not working :(</p>
{{/if}}